body{

    background-image: linear-gradient(to bottom right, rgb(129, 17, 151), rgb(145, 19, 19));

    margin-top: 100px;

    margin-bottom: none;

    height: 100vh;
}




main {

    background-color: #ead8fd;
    
    margin: 0px auto;

    text-align: center;

    padding: 50px;

    border-radius: 65px;

    width: 250px;

    height: 425px;

    border: none;
}

h1 {

    text-align: center;

    margin: 65px 0px 50px;

    font-family: 'Courier New', Courier, monospace;

    color: rgb(0, 0, 0);

}

p {
    text-align: center;

    border: none;

    padding: 5px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    text-decoration: none;


}

input {

    margin-bottom: 25px;

    border-top: 0px;

    border-left: 0px;

    border-right: 0px;

    background-color: #ead8fd;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 9px;

}

button {

border-radius: 100px;

font-size: 20px;

padding: 10px;

width: 100%;

background-image: linear-gradient(to bottom right, purple, red);

border: none;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;

}

a {

    text-decoration: none;

    color: rgb(187, 1, 1);

}


